<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <form action="/check_user" method="post">

        <input type="tel" name="telephone" name="id" value="89990640">
        <input type="password" name="mdp" id="mdp" value="samuel">

        <input type="submit" value="VALIDER">

    </form>

  </body>
</html>
